@import 'tailwindcss';
@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
  font-family: 'peridot-devanagari', sans-serif;
  font-weight: 400;
  font-style: normal;
}
